  <h1>Cart</h1>

  <p class="notice">
   Cart total: $<%= @cart.total %>
  </p>

<% @cart_items.each do |cart_item| %>
  <article>
    <h3><%= link_to cart_item.item.name, item_path(cart_item.item) %></h3>
    <p><b>Price:</b> $<%= cart_item.item.price %></p>
    <p><b>Description:</b> <%= cart_item.item.description %></p>
    <p><b>Quantity:</b> <%= cart_item.quantity %></p>
    <p><b>Subtotal:</b> $<%= cart_item.subtotal %></p>
    <%= button_to "Remove from cart", cart_item, method: :delete %>

    <%= render 'layouts/quantity_form', cart_item: cart_item %>
  </article>
<% end %>