<header>
  <nav class="links-and-buttons">
    <% unless user_signed_in? %>
      <%= link_to "Log In",  new_user_session_path %>
      <%= link_to "Sign Up",  new_user_registration_path %>
    <% end %>

    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_registration_path %>
      <%= link_to "All Items", items_path %>
      <%= link_to "Cart | #{current_user.cart_items.sum(:quantity)} Items", cart_path %>
      <%= link_to "Bought Items | #{current_user.bought_items.sum(:quantity)}", bought_items_path %>
      <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
    <% end %>
  </nav>
</header>