<h3><%= link_to relational_item.item.name, item_path(relational_item.item) %></h3>
<p><b>Price:</b> $<%= relational_item.item.price %></p>
<p><b>Description:</b> <%= relational_item.item.description %></p>
<p><b>Quantity in cart:</b> <%= relational_item.quantity %></p>
<p><b>Subtotal:</b> $<%= relational_item.subtotal %></p>
